<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Über uns</h2>
                <hr class="light">
                <p class="text-faded">Diese Webseite wurde im Rahmen des Moduls <a href="http://www.informatik.uni-oldenburg.de/~iug15/">Informatik und Gesellschaft</a> im Wintersemester 2015/2016 von zwölf Studenten/Studentinnen aus den Bachelorstudiengängen Informatik und Wirtschaftsinformatik der Universität Oldenburg erstellt. Den Abschluss der Veranstaltung bildete ein gemeinsamer Kongress am 22. und 23. Januar 2016, auf dem wir die Ergebnisse zu unseren vier Schwerpunktthemen <a href="{{site.baseurl}}/barrierefreiheit">Barrierefreiheit</a>, <a href="{{site.baseurl}}/funktionalitaet">Funktionalität</a>, <a href="{{site.baseurl}}/konventionen">Konventionen</a> und <a href="{{site.baseurl}}/usability">Usability</a> vorgestellt haben.</p>
                <!--<a href="{{site.baseurl}}/usability" class="btn btn-default btn-xl">Button</a>-->
            </div>
        </div>
    </div>
</section>
