<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="hidden-xs hidden-sm">{{ site.title }}</h1>
            <h1 class="hidden-lg hidden-md">
                Erwartungs-konforme
                Webseiten
            </h1>
            <hr>
            <p>Erwartungskonforme Webseiten ermöglichen es den Nutzern, sich aufgrund ihrer Erfahrung besser zurechtzufinden. Zur Steigerung dieser Erwartungskonformität ist die Einhaltung von Konventionen, wie etwa den DIN-Normen oder den von Ben Shneiderman aufgestellten 8 goldenen Regeln der Usability unerlässlich. Auch muss in diesem Kontext stets auf die Barrierefreiheit (Nutzungsmöglichkeit für jeden) geachtet, sowie die Erwartungen an moderne Funktionalitäten berücksichtigt werden.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Mehr erfahren</a>
        </div>
    </div>
</header>
