<!-- jQuery -->
<script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ site.baseurl }}/js/jquery.easing.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.fittext.js"></script>
<script src="{{ site.baseurl }}/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/js/creative.js"></script>
<script src="{{ site.baseurl }}/js/ew.js"></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//jumaxcloud.de/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 14]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//jumaxcloud.de/piwik/piwik.php?idsite=14" style="border:0;" alt="" /></p></noscript>

<script type="text/javascript" src="http://jumaxcloud.de/piwik/plugins/ClickHeat/libs/js/clickheat.js"></script><noscript><p><a href="http://www.dugwood.com/clickheat/index.html">ClickHeat</a></p></noscript><script type="text/javascript"><!--
clickHeatSite = 14;clickHeatGroup = encodeURIComponent(window.location.pathname+window.location.search);clickHeatServer = 'http://jumaxcloud.de/piwik/plugins/ClickHeat/libs/click.php';initClickHeat(); //-->
</script>
<!-- End Piwik Code -->
